<%- include('header') %>
<% if (entries.length){ %>
   <% entries.forEach(function(entry){ %>
     <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-muted pull-right">
             <%= entry.data.published %> 
          </div>
           <%= entry.data.title %> 
        </div>
        <div class ="panel-body">
            <%=entry.data.content  %>  
        </div>
      </div> 
   <% }) %>
<% } else { %> 
   
   No entries! <a href="/new-entry">Add One</a>
<% } %> 
<%- include('footer') %>